---
name: Molecule Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Molecule Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - ubuntu-24.04
          - ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          # Pinned to 3.14 explicitly works with ansible-core>=2.20,<2.21 so you may need to bump requirements.txt if changing this
          python-version: '3.14'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Ansible collections
        run: ansible-galaxy collection install community.docker

      - name: Run Molecule tests
        run: molecule test --platform-name ${{ matrix.platform }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
